# Composer
/vendor/
composer.phar

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# WordPress
wp-config-local.php
.htaccess

# Node
node_modules/
package-lock.json

# Build
/build/
/dist/

# PHPUnit
.phpunit.result.cache
/phpunit.xml

# Images Assignatures
html/*.png
html/atestado_jair.html