# Composer
/vendor/
composer.phar

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# WordPress
wp-config-local.php
.htaccess

# Node
node_modules/

# Build
/build/
/dist/
*.min.js.map
*.min.css.map

# PHPUnit
.phpunit.result.cache
/phpunit.xml

# Images Assignatures
html/*.png
html/atestado_jair.html